@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.NavBarContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 15vh;
    background-color: #9b00a8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}


/* .NavBarContainer img {
    height: 60px;
    width: 150px;
} */

.NavBarContainer a {
    color: rgb(253, 253, 252);
}

.NavBarContainer a:link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
}