

body {
  background-image: url("https://i.imgur.com/N4XRm2N.jpg");
  background-color: #180932;
  background-repeat: no-repeat;
  background-size: 52vw 102vh;
  background-position: center;
  background-attachment: fixed;
}